
.btn-floating {
    border-radius: 50% !important;
    padding: 0 !important;
}

.fab {
    font-size: 0.875rem !important;
    width: 2.8125rem !important;
}

.card-header:first-child {
    border-radius: 0 !important;
}

.card-header {
    background-color: #5e72e4 !important;
    color: #ffffff !important;
}

.table {
    --mdb-table-striped-bg: rgba(94,114,228,0.2) !important;
}
