/*------------header------------*/
.studel-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-link {
    font-weight: 700;
    color: #5e72e4;
}

.studel-button-login {
    border-radius: 0;
    border-color: #5e72e4 !important;
    font-weight: 700;
    color: #5e72e4 !important;
}

.studel-button-login:focus {
    color: #ffffff !important;
    background-color: #5e72e4 !important;
}

.studel-button-login:hover {
    color: #ffffff !important;
    background-color: #5e72e4 !important;
}

@media(max-width: 650px){
    .studel-nav {
        display: none;
    }
}
