/*.section-2 .sheet-2 {*/
/*    min-height: 724px;*/
/*}*/

.sheet-2 {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.layout-row-2 > .size-30 {
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
}

.section-2 .layout-wrap-2 {
    margin-top: 60px;
    margin-bottom: 45px;
}

.expanded-width-2 {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.layout-row-2 {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
}

.u-layout-col, .layout-row-2 {
    flex: 1 1 100%;
}

.u-layout-col, .layout-row-2, .u-layout-col > * {
    display: flex;
}

.section-2 .layout-cell-2-1 {
    min-height: 704px;
    background-image: none;
}

.section-2 .container-layout-2-1 {
    padding: 30px 30px 28px;
}

.valign-top-2 {
    justify-content: flex-start;
}

.u-valign-middle, .valign-top-2, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.container-layout-2 {
    position: relative;
    flex: 1;
    max-width: 100%;
}

.section-2 .accordion-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}

.u-icon {
    display: block;
    line-height: 0;
    border-width: 0;
}

.u-accordion-item-1, .u-accordion-item-2, .u-accordion-item-3, .u-accordion-item-4 {
    margin-left: auto;
}

.u-accordion-link-1, .u-accordion-link-2, .u-accordion-link-3, .u-accordion-link-4 {
    background-image: none;
    font-weight: 700;
    margin-left: auto;
    padding: 30px;
}

.u-icon-1, .u-icon-2, .u-icon-3, .u-icon-4 {
    height: 20px;
    width: 20px;
    background-image: none;
}

.u-accordion-link {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    /*font-weight: inherit;*/
    display: flex;
    align-items: center;
    width: 100%;
    /*padding: 10px 20px;*/
    border-color: transparent;
    cursor: pointer;
}

.u-accordion-link-icon svg {
    fill: currentColor !important;
}

svg:not(:root) {
    overflow: hidden;
}

.u-accordion-link-icon {
    margin-left: auto;
    flex-shrink: 0;
    background: transparent;
}

.u-icon-circle, .u-icon-circle img {
    border-radius: 50%;
}

.section-2 .container-layout-2-2 {
    padding: 30px;
}

.u-palette-1-base, .u-body.u-palette-1-base, .container-style-2.u-palette-1-base:before, .container-layout-2.u-palette-1-base:before, .u-table-alt-palette-1-base tr:nth-child(even) {
    color: #ffffff;
    background-color: #5e72e4;
}

.section-2 .container-layout-2-6 {
    padding: 30px 50px;
}

.section-2 .layout-cell-2-2 {
    min-height: 704px;
}

.section-2 .image-2-1 {
    height: 309px;
    width: 310px;
    margin: 0 auto;
}

.u-back-image.image-contain-2, .image-2.image-contain-2 {
    object-fit: contain;
    background-size: contain;
}

img.image-2, .u-video-poster {
    overflow: hidden;
}

.section-2 .u-text-1 {
    font-weight: 700;
    margin: 0;
}

.u-svg-content {
    width: 0;
    height: 0;
}

.section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 103px;
    line-height: 1.6;
    margin-top: 20px;
}

ul:not(.u-unstyled) {
    margin: 0;
}

.u-custom-list {
    list-style-type: none;
    padding-left: 0;
}

.u-custom-list li {
    position: relative;
    margin-left: 1.4em;
}

.u-custom-list .u-list-icon {
    display: inline-block;
    position: absolute;
    width: 1em;
    min-height: 1em;
    height: auto;
    left: -1.5em;
    fill: currentColor;
    text-align: center;
}

.u-text {
    word-wrap: break-word;
    position: relative;
}

.container-layout-2-2, .container-layout-2-3, .container-layout-2-4, .container-layout-2-5 {
    padding: 30px;
}

.u-accordion-pane {
    position: relative;
    display: none;
}

.u-accordion-pane.u-accordion-active {
    display: flex;
}

.section-2 .image-2-1 {
    height: 309px;
    width: 310px;
    margin: 0 auto!important;
}

.section-2 .u-text-6 {
    font-size: 1.25rem;
    line-height: 2;
    margin: 20px 0 0;
}

.align-center-2 {
    text-align: center;
}

.section-2 .u-text-7 {
    margin: 39px 0 0;
}

.button-style-2.u-palette-1-base, .button-style-2.u-palette-1-base[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #5e72e4 !important;
}

.section-2 .u-btn-2 {
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    border-style: none;
    margin: 25px auto 0!important;
    padding: 14px 52px 15px 51px;
}

.u-btn-2 {
    display: table;
}

.u-text-palette-1-base, a.button-style-2.u-text-palette-1-base, a.button-style-2.u-text-palette-1-base[class*="u-border-"] {
    color: #5e72e4 !important;
}

.accordion-1{
    text-align: left;
}

@media (max-width: 1199px) {
    .section-2 .sheet-2 {
        min-height: 849px;
    }
    .section-2 .layout-wrap-2 {
        margin-bottom: 57px;
    }
    .section-2 .layout-cell-2-1 {
        min-height: 580px;
    }
    .section-2 .layout-cell-2-2 {
        min-height: 580px;
    }
    .section-2 .accordion-1 {
        margin-left: initial;
    }
    .section-2 .u-text-2 {
        margin-right: 3px;
    }
}

@media (max-width: 991px) {
    .section-2 .sheet-2 {
        min-height: 158px;
    }
    .section-2 .layout-wrap-2 {
        margin-bottom: 60px;
    }
    .section-2 .layout-cell-2-1 {
        min-height: 100px;
    }
    .section-2 .container-layout-2-1 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-2 .u-text-2 {
        margin-right: 0;
    }
    .section-2 .layout-cell-2-2 {
        min-height: 100px;
    }
    .section-2 .container-layout-2-6 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-2 .image-2-1 {
        height: 299px;
        width: 300px;
    }

}

@media (max-width: 767px) {
    .section-2 .sheet-2 {
        min-height: 795px;
    }
    .section-2 .container-layout-2-1 {
        padding-top: 0;
    }
    .layout-wrap-2:not(.u-layout-custom-xs) .layout-2 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .layout-wrap-2:not(.u-layout-custom-xs) .layout-2 .layout-cell-2 {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .layout-wrap-2:not(.u-layout-custom-xs) .layout-row-2 > * {
        min-width: 100%;
    }

}

@media (max-width: 575px) {
    .section-2 .sheet-2 {
        min-height: 1068px;
    }
    .sheet-2 {
        width: 340px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sheet-2 {
        width: 940px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sheet-2 {
        width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .sheet-2 {
        width: 540px;
    }
    .layout-wrap-2:not(.u-layout-custom-sm) .layout-2 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .layout-wrap-2:not(.u-layout-custom-sm) .layout-2 .layout-cell-2 {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .layout-wrap-2:not(.u-layout-custom-sm) .layout-row-2 > * {
        min-width: 100%;
    }
}
